hr{
    margin-bottom: 30px;
}
#container h1{
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
    min-height: 1.5em;
}
#container h1:hover{
    background:  rgb(254, 241, 232);
}
#question-list{
    width: 90%;
    min-height: 1px;
    margin: 0 auto;
    line-height: 1.5em;
    padding-bottom:1.5em ;
}
#question-list ul{
    height: 40px;
    opacity: 0;
}
#question-list .question-option{
    padding: .5em;
}
#question-list .question-option:hover {
    background: rgb(254, 241, 232);
}
#question-list div:hover>ul{
    opacity: 1;
}
/*#question-list .question-option:hover h3{
    font-weight: bold;
}*/
#question-list div:nth-child(1) .go-up{
    display: none;
}
#question-list div:nth-last-child(1) .go-down{
    display: none;
}
#question-list li{
    float: right;
    margin-right: 5px;
}
#question-list  p{
    text-indent: 2em;
}
.remove-option{
    margin-left: 10px;
    font-size: 14px;
    opacity: 0;
    cursor: pointer;
}
.remove-option:before{
    content: "\E600";

}
p:hover>.remove-option{
    opacity: 1;
    color: #ee7419;
}
#question-list .add-option{
    text-align: center;
    border: 1px dotted grey;
    opacity: 0;
}
#question-list .add-option:hover{
    opacity: 1;
}
#question-type{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: 80px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #7d7d7d;
}
textarea{
    margin-left: 2em;
    width: 90%;
}
#question-type button{
    width:25%;
    margin-top: 20px;
    height: 40px;
}
#question-type button:before,#question-list div p:before{
    content: "\E600";
    margin-right: 0.5em;
}
#add-question {
    width: 90%;
    margin: 0 auto 1.5em;
    text-align: center;
    line-height: 80px;
    border: 1px solid #7d7d7d;
    background: #dadada;
}
#add-question:before{
    content: "\E600";
    margin-right: 5px;
}
#my-calender{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    line-height: 1.5em;
    margin:30px auto;
    justify-content: space-around;
}
#date-group {
    text-align: center;
}
#mydatepicker {
    margin-bottom: 0.5em;
}

#button-group button{
    padding: 4px 10px;
}

.input-edit{
    width: 50%;
    height: 30px;
    text-align: center;
}
#question-list .input-edit{
    text-align: left;
    height: 1.5em;
}